/* Общие настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Header (Шапка сайта) */
.header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: black;
    transition: all .3s ease;
}

nav a:hover {
    color: #FFD700;
}

.btn-order {
    background-color: #FFD700;
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: transform .3s ease;
}

.btn-order:hover {
    transform: scale(1.05);
}

/* Main Content Sections */
.hero-section {
    min-height: calc(100vh - 60px); /* Высота героя равна высоте окна браузера минус высота шапки */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding-top: 60px; /* Добавляет пространство над заголовком */
}

.buttons button {
    background-color: #FFD700;
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin: 0 10px;
    transition: transform .3s ease;
}

.buttons button:hover {
    transform: scale(1.05);
}

.section {
    padding: 4rem 0;
    text-align: center;
}

.icon {
    font-size: 3rem;
    color: #FFD700;
    margin-bottom: 1rem;
}

.print-services ol,
.repair-services p,
.delivery-info ul,
.on-site-repairs ul,
.service-pickup ul {
    list-style-position: inside;
    list-style-type: disc;
    text-align: left;
    width: 80%;
    margin: auto;
}

.contacts address {
    text-align: left;
    line-height: 1.5;
}

.promotions ul li::before {
    content: "\u2B50"; /* Звёздочка */
    margin-right: 0.5rem;
}

.social-icons i {
    font-size: 2rem;
    color: #FFD700;
    margin-right: 1rem;
    transition: transform .3s ease;
}

.social-icons i:hover {
    transform: scale(1.1);
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Mobile Responsive Design */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .btn-order {
        margin-top: 1rem;
    }

    .section h2 {
        font-size: 1.5rem;
    }

    .icon {
        font-size: 2rem;
    }

    .buttons button {
        width: 100%;
        margin-bottom: 1rem;
    }

    .social-icons {
        display: inline-block;
    }
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    animation-name: modalFadeIn;
    animation-duration: 0.4s;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.animate {
    animation: fadeIn 0.5s;
}

@keyframes modalFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}
